*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
h2{
	text-align:center;
	font-size:50px;
}
.background{
	height:500px;
	background-color:#89A8B2;
	display:flex;
	
}
.box{
	width:50px;
	height:50px;
	color:#FF7F3E;
	background-color:#22177A;
    text-align:center;
	line-height:50px;
    margin:5px;	
}
.direction-row{
	flex-direction:row;
}
.direction-row-reverse{
	flex-direction:row-reverse;
}
.direction-column{
	flex-direction:column;
}
.direction-column-reverse{
	flex-direction:column-reverse;
}
.flex-flow-wrap{
	flex-direction:row;
	flex-wrap:wrap;
}
.flex-flow-nowrap{
	flex-direction:row;
	flex-wrap:nowrap;
}
.flex-flow-wrap-reverse{
	flex-direction:column;
	flex-wrap:wrap-reverse;
}